.skills{
padding:100px 10%;
background:#08111f;
color:white;
text-align:center;
}

.skills h2{
font-size:42px;
margin-bottom:50px;
color:#4ea8ff;
}

.skills-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(170px,1fr));
gap:25px;
}

.skill-card{
padding:25px;
background:#132238;
border-radius:12px;
font-size:18px;
transition:.3s;
cursor:pointer;
}

.skill-card:hover{
background:#4ea8ff;
transform:scale(1.08);
}